<app-layout>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav class="sidenav" #sidenav role="navigation">
            <app-side-nav (sidenavClose)="sidenav.close()"></app-side-nav>
        </mat-sidenav>
        <mat-sidenav-content fxLayout="column" fxLayoutGap.gt-sm="20px">
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
            <main>
                <div *ngIf="error$ | async">
                    Error retrieving data
                </div>
                <div *ngIf="isLoading$ | async">
                    Document Loading...
                </div>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</app-layout>